body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    color: #F2AC57;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  
  div div {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
  }
  
  .main-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
    /* header */
    
    .fundo-header {
        background-color: #ff9050;
        display: flex;
        height: 4rem;
        width: 100%;
        color: white;
      }
      
      .logo-header {
        display: flex;
        align-items: center;
        margin-left: 1rem;
      }
      
      .logo-header img {
        display: flex;
        height: 4rem;
        width: 4rem;
      }
      
      .paginas {
        font-size: small;
        font-weight:lighter;
        display: flex;
        padding: 2rem;
        margin-left: 1rem;
        margin-bottom: 1rem;
        flex-wrap: wrap;
        width: 40rem;
        justify-content: space-between;
      }
      
      .paginas a {
        text-decoration: none;
        color: white;
      }
      
  
    /* main */
  
    .mainLanding {
      background-color: #F2AC57;
      width: 100%;
      height: 70vh;
    }
  
    .textos {
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-content: flex-start;
      margin-left: 1rem;
      margin: 4rem;
    }

    .conta {
      font-size: x-large;
      margin: 1rem;
    }
  
    .texto-conta {
      padding: 4rem;
      font-size: larger;
    }
  
  
    /* footer  */
  
    footer {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      .fundo-manutencao {
        background-color: #ff9050;
        display: flex;
        height: 8rem;
        width: 100%;
        color: white;
      }
      
      .section1 {
        display: flex;
        align-items: center;
        margin-left: 1rem;
      }
      
      .section1 img {
        display: flex;
        height: 8rem;
        width: 8rem;
      }
      
      .section2 {
        padding-left: 10rem;
        margin-top: 2rem;
      }
      
      .section3 {
        margin-top: 2rem;
        padding-left: 20rem;
      }
      
      .section3 a {
          text-decoration: none;
          color: white;
      }
      
      .section4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-left: auto;
        margin-right: 7%;
      }
      
      .section4 img {
        display: flex;
        height: 2rem;
        width: 2rem;
      }
      
      .footer {
        display: flex;
        background-color: white;
        height: 6rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 25%;
        border: 1px;
        border-radius: 1rem;
        color: white;
      
      }

@media screen and (min-width: 320px) and (max-width: 480px) {

}
