* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.containerAll {
  display: grid;
  grid-template-rows: 10vh 80vh 10vh;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  height: 100%;
}
.mainLanding {
 display: grid;
 grid-template-columns: repeat(2, 1fr);
  padding-right: 2rem;
  padding-top: 8rem;
  background-image: url(./img/f4bankfinal\ \(1\).png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.slogan{
    color: white;
    margin-left: 5rem;
}
.imagem{
    display: flex;


}

.dadosCliente {
    margin-left: 25rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
  color: white;
  background-color: orangered;
  border-radius: 1rem;
  width: 20rem;
  height: 15rem;
  gap: 1rem;
  padding-right: 1rem;
  
}
h2 {
  text-align: right;
  padding-right: 1rem;
  padding-top: 1rem;
}
.cpf {
  width: 18rem;
  text-align: center;
  padding: 1vh;
  border-radius: 1vh;
}

.email {
  width: 18rem;
  text-align: center;
  padding: 1vh;
  border-radius: 1vh;
}
.enviar {
  width: 6rem;
  text-align: center;
  padding: 1vh;
  border-radius: 1vh;
}

.enviar:hover{
    background-color: orangered;
    color: white;
}

.enviar:active{
    background-color: white;
    color: orangered;
}
